<!DOCTYPE html>
<header th:fragment="header">
    <nav class="navbar">
        <p class="logo">Bank Payments Project</p>
        <ul class="menu">
            <li><a th:href="@{/authentication}" class="input">Home</a></li>
            <!--            if logged-->
            <li th:if="${accountId}"><a th:href="@{/bills}" class="input">Bills</a></li>
            <li><a href="#" class="input">Contact</a></li>
            <li th:if="${accountId}"><a href="${pageContext.request.contextPath}/logout" class="logout input">Logout</a>
            </li>
        </ul>
    </nav>
</header>