<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout::layout(~{::main}, 'Bill')}" lang="en">

<main>
    <div class="content bg-bill">
        <div class="card-info">
            <div class="card">
                <p class="bank">Bank Payments Project</p>
                <img class="barcode" src="../img/card/barcode.png" alt="barcode"/>
                <p th:text="${bill.id}" class="id"></p>
                <p th:text="${bill.validity.getMonthValue() + '/' + bill.validity.getYear()}" class="validity"></p>
                <p class="owner">Roman Romanenko</p>
                <img class="type" src="../img/card/mastercard.png" alt="mastercard"/>
            </div>
            <div class="content-wrapper">
                <h3 class="content-header">Here is your card balance and validity:</h3>
                <p th:text="${'Balance: ' + bill.balance + ' UAH'}" class="content-text"></p>
                <p th:text="${'Card valid to date: ' + bill.validity}" class="content-text"></p>
            </div>
        </div>
        <div th:if="${bill.type.name() == 'UNSIGNED'}" th:remove="tag">
            <hr>
            <div class="money-wrapper">
                <h2 class="content-header">You can take a credit or put a deposit</h2>
                <div th:if="${errorMessage}" th:remove="tag">
                    <div class="content-header error" th:text="${errorMessage}"></div>
                    <hr>
                </div>
                <div class="money-service">
                    <div class="form form-credit">
                        <h3 class="header">Take credit is simple:</h3>
                        <p class="secret">just 23% per month</p>
                        <form th:action="@{/credit/new}" class="body" method="POST">
                            <input type="hidden" name="id" value="${bill.id}">
                            <div class="input">
                                <label for="creditAmount">Amount:</label>
                                <input class="currency" id="creditAmount" type="text" name="amount" value=""
                                       placeholder="UAH"/>
                            </div>
                            <button class="button" type="submit">Take it</button>
                        </form>
                    </div>
                    <div class="form form-deposit">
                        <h3 class="header">Put deposit you can here:</h3>
                        <h4 class="header">We save and multiply your money for you</h4>
                        <form th:action="@{/deposit/new}" class="body" method="POST">
                            <input type="hidden" name="id" value="${bill.id}">
                            <div class="input">
                                <label for="depositAmount">Amount:</label>
                                <input class="currency" id="depositAmount" type="text" name="amount" value=""
                                       placeholder="UAH"/>
                            </div>
                            <button class="button" type="submit">Put it</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${bill.type.name() == 'CREDIT'}" th:remove="tag">
            <hr>
            <div class="content-wrapper">
                <h3 class="content-header">Information about your credit:</h3>
                <p th:text="${'Debt: ' + credit.debt + ' UAH'}" class="content-text"></p>
                <p th:text="${'Limit: ' + credit.limit + ' UAH'}" class="content-text"></p>
                <p th:text="${'Percentage: ' + credit.percentage + '% per month'}" class="content-text"></p>
                <p th:text="${'Start: ' + credit.start}" class="content-text"></p>
                <p th:text="${'Deadline: ' + credit.deadline}" class="content-text"></p>
            </div>
        </div>
        <div th:if="${bill.type.name() == 'DEPOSIT'}" th:remove="tag">
            <hr>
            <div class="content-wrapper">
                <h3 class="content-header">Information about your deposit:</h3>
                <p class="content-text">Amount: ${deposit.amount} UAH</p>
                <p class="content-text">Rate: ${deposit.rate}</p>
                <p class="content-text">Start: ${deposit.start}</p>
                <p class="content-text">Finish: ${deposit.finish}</p>
            </div>
        </div>
    </div>
</main>
</html>